{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-12.col-md-6">
        <h2>This is the Marvel Collection</h2>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <h1 class="cover">Marvel Character Database</h1>
    <img src="https://media.comicbook.com/2018/02/marvel-studios-first-10-years-banner-1081327.jpeg"
        alt="Marvel Banner">
    <p class="lead">Build your Marvel character collection!</p>
    <p class="lead">
        <a href="{{ url_for('site.addcharacter') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            style="color:black">Add Character</a>
    </p>
    <p class="lead">Build your Marvel character collection!</p>
    <p class="lead">
        <a href="{{ url_for('auth.signup') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            style="color:black">Sign Up</a>
        <a href="{{ url_for('auth.signin') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            style="color:black">Sign In</a>
    </p>
    

</div>


{% endblock content %}